*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: red;
    line-height: 80px;
}

header .container{
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header img{
    height: 100%;
    vertical-align: text-bottom;
}

header .container ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header .container ul li{
    list-style-type: none;
    display: inline;
    padding: 25px;
}

header .container .float-left{
    float: left;
}

header .container .float-right{
    float: right;
}

button{
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    border: none;
}

section.jumbotron{
    height: 400px;
    background-color: #5300a5;
}

main section.dropbox-prezzi{
    height: 1200px;
    background-color: yellow;
}

main section.dropbox-operazioni{
    height: 600px;
    background-color: violet;
}

main section.dropbox-clienti{
    height: 300px;
    background-color: lightgreen;
}

main section.dropbox-prova-gratuita{
    height: 150px;
    background-color: lightblue;
}

main section.dropbox-prova-gratuita{
    height: 350px;
    background-color: pink;
}

footer{
    height: 150px;
    background-color: black;
}

