*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

header{
    height: 80px;
    width: 100%;
    background-color: red;
    line-height: 80px;
}

header .header-container{
    width: calc(100% - 40px);
    height: 100%;
    margin: 0 20px;
    min-width: 1180px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header img{
    vertical-align: text-bottom;
}

img{
    width: 100%;
}

header .header-container ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

header .header-container ul li{
    list-style-type: none;
    display: inline;
    padding: 25px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

button{
    color: white;
    background-color: #0061ff;
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

section.jumbotron{
    height: 600px;
    background-color: #b4d0e7;
    padding-top: 70px;
}

section.jumbotron .large-container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    background-color: chartreuse;
}

section.jumbotron .large-container h1{
    font-size: 60px;
    font-weight: bold;
}

section.jumbotron .large-container .text{
    height: 65%;
    width: 35%;
    background-color: #b4d0e7;
    border: black solid 1px;
}

section.jumbotron .large-container .img{
    height: 65%;
    width: 65%;
    background-color: blue;
}

section.jumbotron .large-container p{
    padding: 20px 0;
    line-height: 20px;
}

section.jumbotron .large-container i{
    font-size: 40px;
}

section.jumbotron img{
    padding-top:20px;
}

main section{
    padding-top: 200px;
}

main section.dropbox-prezzi{
    background-color: yellow;
}

main section .small-container{
    margin: 0 auto;
    width: 70%;
    background-color:red;
}

main section h2{
    font-size: 40px;
    padding-bottom: 40px;
}

main section.dropbox-prezzi span{
    padding-right: 20px;
}

main section.dropbox-prezzi .cards-container{
    width: 100%;
    background-color: green;
    border: black solid 1px;
    padding: 20px 0 150px 0;
}

main section.dropbox-prezzi .card{
    width: 30%;
    height: 1100px;
    background-color: lightblue;
    border: black solid 1px;
    font-size: 14px;
}

main section.dropbox-prezzi .card div{
    padding: 20px;
}

main section .card-centre{
    margin: 0 5%;
}

main section.dropbox-prezzi .text-centre{
    text-align: center;
}

main section.dropbox-prezzi .option{
    border-bottom: black solid 1px;
}

main section.dropbox-prezzi .title-card{
    line-height: 50px;
}

main section h3{
    font-size: 27px;
}

main section.dropbox-prezzi .title-card p{
    color: #667583;
}

main section.dropbox-prezzi .archiving p{
    padding: 10px 0;
}

main section  a{
    color: #3883ff;
    font-weight: 600;
}

main section.dropbox-prezzi hr{
    margin-right:  130px;
}

main section.dropbox-prezzi .plan-info h4, li{
    list-style: none;
    line-height: 50px;
}

main section.dropbox-prezzi .fa-check{
    color: #126cff;
}

main section.dropbox-prezzi #card-horizontal{
    height: 250px;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

main section.dropbox-prezzi .title-card button{
    position: absolute;
    right: 20px;
}

main section.dropbox-prezzi .partner-dropbox{
    width: 100%;
    height: 500px;
    background-color: burlywood;
}

main section.dropbox-prezzi .partner-dropbox .img{
    width: 60%;
    height: 500px;
    background-color: cadetblue;
    border: blueviolet solid 1px;
    
}

main section.dropbox-prezzi .partner-dropbox .text-img{
    width: 40%;
    height: 500px;
    background-color: cadetblue;
    border: blueviolet solid 1px;
    line-height: 30px;
    padding: 40px 0;


    
}

main section.dropbox-prezzi .partner-dropbox .text-img p{ 
    padding: 40px 0;
}

main section.dropbox-prezzi .partner-dropbox button{ 
    color: black;
    background-color: white;
    border: black solid 1px;
}

main section.dropbox-operazioni{
    background-color: violet;
}

main section.dropbox-operazioni .operations-card{
    width: 30%;
    background-color: blue;
}

main section.dropbox-operazioni .operations-card h3{
    padding: 20px 0;
}

main section.dropbox-operazioni .operations-card p{
    padding-bottom: 50px;
}

main section.dropbox-clienti{
    height: 1000px;
    background-color: lightgreen;
}

main section .clients-container{
    width: 100%;
    height: 500px;
    background-color: greenyellow;
    padding-top: 100px;
}

main section .clients-container .svg-contain{
    width: 30%;
    height: 300px;
    background-color: blue;
}

main section .clients-container .svg-contain .svg{
    width: 50%;
    height: 50%;
    border: black solid 1px;
    position: relative;
}

main section .clients-container .svg-contain .svg-bg-designit{
    background-color: #a2d39b;
    border: #d0e9cd solid 10px;
}

main section .clients-container .svg-contain .svg-bg-arizona{
    background-color: #61082b;
}

main section .clients-container .svg-contain .svg-bg-florida{
    background-color: #0093ce;
}

main section .clients-container .svg-contain .svg-bg-topps{
    background-color: #ff1c1c;
}

main section .clients-container .svg-contain .svg-bg-world{
    background-color: #d5001f;
}

main section .clients-container .svg-contain .svg-bg-hearts{
    background-color: #b4d0e7;
}

main section .clients-container .svg-contain .svg-bg-lonely{
    background-color: #0d2481;
}

main section .clients-container .svg-contain .svg-bg-clear{
    background-color: #ffd830;
}

main section .clients-container .svg-contain img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

main section .clients-container .svg-text-contain img{
    width: 87.5px;
    height: 27.78;
}

main section .clients-container .svg-text-contain p{
    padding: 30px 0;
}

main section .clients-container .svg-text-contain{
    width: 40%;
    height: 300px;
    background-color: yellow;
    padding: 30px;
}

main section.dropbox-prova-gratuita{
    height: 150px;
    background-color: lightblue;
}

main section.dropbox-prova-gratuita{
    height: 350px;
    background-color: pink;
}

footer{
    height: 150px;
    background-color: black;
}

